@{
    ViewBag.Title = "Contact";
}
<h2>Nice try ;)</h2>

<address>
    Somewhere<br />
    TOP SECRET<br />
    Lorem Ipsum <br />
</address>



<address>
    <strong>Random email to spam:</strong>   <a href="mailto:mail.random@wp.pl">¯\_(ツ)_/¯</a><br />
</address>