@{
    ViewBag.Title = "Budget Heroes";
}

<div class="row">
    <div class="col-md-4">
        <h2>Problem?</h2>
        <p>
            <img src="~/Content/problemguy.jpg" />
        </p>
    </div>
    <div class="col-md-4">
        <h2>But you're short in cash?</h2>
        <p><img src="~/Content/cash.jpg" /></p>
    </div>
    <div class="col-md-4">
        <h2>Here's solution!</h2>
        <p><img src="~/Content/superman.png" /></p>

        @Html.Partial("View")
        
    </div>
</div>